<ul id="std-menu-items">
	{% for item_menu in menu %}
		<li>
			{% if item_menu.child is iterable %}
					<a href="{{ item_menu.url }}">{{ item_menu.title }} <b class="caret"></b></a>
					<ul>
						{% for child_item_menu in item_menu.child %}
							<li><a href="{{ child_item_menu.url }}">{{ child_item_menu.title }}</a></li>
						{% endfor %}
					</ul>
			{% else %}
				<a href="{{ item_menu.url }}">{{ item_menu.title }}</a>
			{% endif %}
		</li>
	{% endfor %}
</ul>